.content-about {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-around;
  align-items: center;
  /* gap: 130px; */
  /* margin-top: 50px; */
  /* padding-bottom: 50px; */
}

.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

.cloth-pattern-img{
  width: 100%;
  height: 30px;
  /* margin-left: 10px; */
}

.cloth-pattern-img-1{
  width: 100%;
  height: 30px;
  /* margin-left: 10px; */
}

.img-divider{
  display: flex;
}

.about-img {
  width: 550px;
  height: 550px;
}

.about-img-2 {
  transform: rotate(5deg);
  width: 450px;
  height: 450px;
}

.about-img-3 {
  transform: rotate(-5deg);
  width: 450px;
  height: 450px;
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: -10px;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
  }
  .content-about {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: -10px;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
  }
  .about-img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .cloth-pattern-img-1{
    display: none;
  }
}


