.content-about{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.content{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.about-img{
  width: 550px;
  height: 550px;
}

.about-img-2{
  transform: rotate(5deg);
  width: 450px;
  height: 450px;
}

.about-img-3{
  transform: rotate(-5deg);
  width: 450px;
  height: 450px;
}


@media (max-width: 768px) {
  .content {
    display: block;
    justify-content: center;
    align-items: center;
    /* gap: -10px; */
    margin-left: 50px;
    margin-top: -10px;
  }
    .content-about {
      display: block;
      justify-content: center;
      align-items: center;
      /* gap: -10px; */
      margin-left: 50px;
      margin-top: -10px;
    }
    .about-img{
      width: 550px;
      height: 450px;
    }

}