.button {
  font-family: "Poppins", serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  /* font-weight: bold; */
  font-size: 16px;
  font-weight: 450;
  cursor: pointer;
  /* color: rgb(37, 37, 37); */
  z-index: 0;
  background: rgb(187, 210, 255);
  background: linear-gradient(
    90deg,
    rgba(187, 210, 255, 1) 0%,
    rgba(36, 132, 255, 1) 100%
  );
  color: #fff;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

/* button-1 style */

.button-1 {
  font-family: "Poppins", serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  /* font-weight: bold; */
  font-size: 16px;
  font-weight: 450;
  cursor: pointer;
  /* color: rgb(37, 37, 37); */
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}
